---
import type { HTMLAttributes } from "astro/types"

type Props = HTMLAttributes<"a">

const { href, class: className, ...props } = Astro.props
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "")
const subpath = pathname.match(/[^/]+/g)
const isActive = href === pathname || href === "/" + (subpath?.[0] || "")
---

<a
	href={href}
	class:list={[
		className,
		"hover:text-primary px-2 py-1 text-sm transition-colors duration-300",
		isActive
			? "decoration-primary underline decoration-2 underline-offset-4"
			: "",
	]}
	{...props}
>
	<slot />
</a>
